/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

/*
 * Canvas
 */

html,
body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.canvas {
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}